<app-navbar></app-navbar>

<div style="height: 70px;"></div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-search></app-search>
    </div>
    <div class="col-md-9">
      <div class="row carousel-holder">
        <div class="col-md-12">
          <app-carousel></app-carousel>
        </div>
      </div>
      <div class="row">
        <div style="height: 30px;"></div>
        <div *ngFor="let prod of products" class="col-sm-4 col-lg-4 col-md-4">
          <app-product-item [product]="prod"></app-product-item>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>