<div class="row carousel-holder">
  <div class="col-md-12">
    <app-carousel></app-carousel>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input type="text"
             placeholder="Filter products by title"
             class="form-control"
             [formControl]="titleFilter">
    </div>
  </div>
  <div *ngFor="let prod of products | filter: 'title': filterCriteria" class="col-sm-4 col-lg-4 col-md-4">
    <app-product-item [product]="prod"></app-product-item>
  </div>
</div>